#chord-list {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 20%;
}
#chord-list ul {
	margin: 0;
	padding: 0;
	height: 100%;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	display: flex;
	flex-direction: column;
}
#chord-list li {
	list-style: none;
	-webkit-flex: 1;
	flex: 1;
}
#chord-view {
	position: absolute;
	left: 20%;
	top: 0px;
	height: 100%;
	width: 80%;
}
#chord-editor {
	position: absolute;
	left: 0;
	top: 80%;
	height: 20%;
	width: 100%;
	overflow-x: scroll;
}
#chord-preview {

}